@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat-thin';
  src: url('/fonts/Montserrat-Thin.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-regular';
  src: url('/fonts/Montserrat-Regular.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-medium';
  src: url('/fonts/Montserrat-Medium.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-semi';
  src: url('/fonts/Montserrat-SemiBold.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Black';
  src: url('/fonts/Montserrat-Black.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Inter-thin';
  src: url('/fonts/Inter-Light.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Inter-regular';
  src: url('/fonts/Inter-Regular.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Inter-medium';
  src: url('/fonts/Inter-Medium.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Inter-semi';
  src: url('/fonts/Inter-SemiBold.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Inter-Black';
  src: url('/fonts/Inter-Black.ttf');
  font-style: normal;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 9999px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #4a4b4b;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #e5e7eb;
}